blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend ,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,
textarea{font:12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif} h1,h2,h3,h4,h5,h6{font-size:100%}address,cite,dfn,em,var{font-style:normal} code,kbd,pre,samp{font-family:courier new,courier,monospace} small{font-size:12px}ol,ul{list-style:none}a{text-decoration:none} a:hover{text-decoration:none}sup{vertical-align:text-top} sub{vertical-align:text-bottom}legend{color:#000}fieldset,img{border:0} button,input,select,textarea{font-size:100%} table{border-collapse:collapse;border-spacing:0}
nav {
    height: 60px;
    background: #222222;
}
#main {
    width: 1100px;
    margin: 0px auto;
}

#main::after {
    content: '';
    display: block;
    /*width: 0px;*/
    /*height: 0px;*/
    clear: both;
}
#lside {
    width: 805px;
    float: left;
}
#rside {
    width: 275px;
    float: right;
}

footer {
    height: 45px;
    background: #222;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font: 17.5px/25.5px '微软雅黑','黑体','文泉驿正黑体','sans-serif';
}
footer a:hover {
    color: #1e73be;
}
footer a {
    color: white;
}

body {
    background: #efefef;
}
header {
    height: 156px;
    background: white;
}

header div {
    margin: 0px auto;
    padding: 40px;
    width: 1100px;
}
header h2 {
    width: 785px;
    height: 54px;
    font: bold 45px/54px '微软雅黑','黑体','文泉驿正黑体','sans-serif';

}
header p {
    width: 785px;
    height: 22px;
    font: 15px/22.5px '微软雅黑','黑体','文泉驿正黑体','sans-serif';
    color: #999;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('./fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('./fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('./fonts/FontAwesome.otf?v=4.3.0') format('otf'),
    url('./fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('./fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('./fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal; font-style: normal; }